<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    id="com.pinecity.zoo"
    version="1.0.0">
    <name>PineCityZoo</name>
    <description>This is an app for the fictional Pine City Zoo</description>
    <author email="malinga.m2303@gmail.com" href="https://instagram.com/@OFFICIALVVS_4L">
        Malinga Dev Team
    </author>

    <content src="index.html" />

    <!-- Security Related Settings -->
    <access origin="#" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Platform Configs & Platform Overriding Configs -->
    <platform name="android"></platform>
    <platform name="ios"></platform>
</widget>